.form {

    width: 100%;
   
    background: #fff;
   
    padding: 30px;
   
    max-width: 490px;

    border-radius: 10px;
   
    box-shadow: rgba(3, 3, 3, 0.1) 10px 0px 50px;


    margin: auto;
   
   }
   
   
   
   .field {
   
    margin-bottom: 30px;
   
   }
   
   
   
   .label {
    font-family: sans-serif ;
   
    margin-bottom: 10px;
   
    font-size: 15px;
   
    font-weight: 600;
   
    color: #777;
   
   }
   
   
   
   .input {
    font-family: sans-serif ;
   
    width: 95%;
   
    padding: 25px 15px;
      
    background: #f0f0f0;
   
    border-radius: 5px;
   
    font-size: 18px;
   
    color: #333;
   
    font-weight: 600;

    &:hover{
        background-color: #f9f7ed;
    }
   
   }
   
   
   
   .button {
   
    background: #2196f3;
   
    color: #fff;
   
    font-weight: 600;
   
    width: 100%;
   
    border-radius: 5px;
   
    cursor: pointer;
   
    padding: 25px 15px;
   
    border: 0;
   
    font-size: 18px;
   
    &:hover {
   
     background: #0460b5;
   
    }
   
   }
   
   
   
   .invalid {
   
    border: 1px solid red;
   
   }
   
   
   
   .error {
   
    color: red;
    
   
   }
   
   