<h1 align="center" style="color: #fff;">  Welcome To Nexus !  </h1>

<form class="form" [formGroup]="registerForm"  (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">Username: </label>
    <input 
    type="text" 
    class="input"
    formControlName="username"
    [class.invalid]="registerForm.get('username')?.invalid && 
    (registerForm.get('username')?.dirty ||
    registerForm.get('username')?.touched ||
    isSubmitted)"
    />
    <span *ngIf="registerForm.get('username')?.invalid && 
    (registerForm.get('username')?.dirty ||
    registerForm.get('username')?.touched ||
    isSubmitted)"
    class="error">
    This field is required.
    </span>
  </div>

  <div class="field">
    <label class="label">Email: </label>
    <input 
    type="text" 
    class="input" 
    formControlName="email"
    [class.invalid]="registerForm.get('email')?.hasError('required') && 
    (registerForm.get('email')?.dirty ||
    registerForm.get('email')?.touched ||
    isSubmitted)" 
    />
    <span *ngIf="registerForm.get('email')?.invalid && 
    (registerForm.get('email')?.dirty ||
    registerForm.get('email')?.touched ||
    isSubmitted)"
    class="error">
    This field is required.
    </span>
  </div>

  <div class="field">
    <label class="label">Password: </label>
    <input 
    type="password" 
    class="input" 
    formControlName="password" 
    [class.invalid]= "registerForm.get('password')?.invalid && 
    (registerForm.get('password')?.dirty ||
    registerForm.get('password')?.touched || 
    isSubmitted)"/>
    <span *ngIf="registerForm.get('password')?.invalid && 
    (registerForm.get('password')?.dirty ||
    registerForm.get('password')?.touched ||
    isSubmitted)"
    class="error">
    This field is required.
    </span>
  </div>

  <div>
    <button type="submit" class="button">Register</button>
  </div>
</form>